@import "tailwindcss";

:root {
  --background: #ffffff;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-title);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  flex-flow: column wrap;
}
